In [2]:
#task1
points= int(input("enter your points to know your prize: "))

if (points >=0 and points <=50):
  print("wooden rabbit")

elif (points >=51 and points <=150):
  print("no prize")

elif (points >=151 and points <=180):
  print("wafer-thin mint")

elif (points >=181 and points <=200):
  print("penguin")

else: print("wront input")

enter your points to know your prize57
no prize

In [3]:
#task2
answer = 42

# Get the user's guess
guess = int(input("Enter your guess: "))


if guess < answer:
    print("Your guess is too low!")
elif guess > answer:
    print("Your guess is too high!")
else:
    print("Congratulations! Your guess is correct!")

Enter your guess: 56
Your guess is too high!

In [4]:
#task3
def calculate_tax(purchase_amount, state):
    # Dictionary to store the tax rates for different states
    tax_rates = {
        "CA": 0.075,
        "MN": 0.095,
        "NY": 0.089
    }

    # Check if the state is in the tax_rates dictionary
    if state in tax_rates:
        # Calculate the tax amount
        tax_amount = purchase_amount * tax_rates[state]
        total_amount = purchase_amount + tax_amount

        return total_amount, tax_amount
    else:
        # If the state is not found in the tax_rates dictionary, assume no tax
        return purchase_amount, 0

# Example usage:
purchase_amount = float(input("Enter the purchase amount: "))
state = input("Enter the state (CA, MN, or NY): ")

total_amount, tax_amount = calculate_tax(purchase_amount, state)
print(f"Total amount with tax: ${total_amount:.2f}")
print(f"Tax amount: ${tax_amount:.2f}")

Enter the purchase amount: 67
Enter the state (CA, MN, or NY): NY
Total amount with tax: $72.96
Tax amount: $5.96

In [5]:
#task4
sentence = ["the", "quick", "brown", "fox", "jumped", "over", "the",
"lazy", "dog"]

for word in sentence:
    print(word)

the
quick
brown
fox
jumped
over
the
lazy
dog

In [6]:
#task5
for number in range(5, 35, 5):
  print(number)

5
10
15
20
25
30

In [7]:
#task6
names = ["Rick Sanchez", "Morty Smith", "Summer Smith", "Jerry Smith", "Beth Smith"]

# Using list comprehension to extract and convert first names to lowercase
first_names = [name.split()[0].lower() for name in names]

print(first_names)

['rick', 'morty', 'summer', 'jerry', 'beth']

In [8]:
#task7
multiples_3 = [3 * i for i in range(1, 21)]

print(multiples_3)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60]

In [10]:
#task8

scores = {
    "Rick Sanchez": 70,
    "Morty Smith": 35,
    "Summer Smith": 82,
    "Jerry Smith": 23,
    "Beth Smith": 98
}

passed = [name for name, score in scores.items() if score >= 65]

print(passed)

['Rick Sanchez', 'Summer Smith', 'Beth Smith']

In [11]:
#task9

cast_names = ["Barney", "Robin", "Ted", "Lily", "Marshall"]
cast_heights = [72, 68, 72, 66, 76]

cast = dict(zip(cast_names, cast_heights))

print(cast)

{'Barney': 72, 'Robin': 68, 'Ted': 72, 'Lily': 66, 'Marshall': 76}

In [9]:
#task10
cast = ["Barney Stinson", "Robin Scherbatsky", "Ted Mosby", "Lily Aldrin", "Marshall Eriksen"]
heights = [72, 68, 72, 66, 76]

for i, name in enumerate(cast):
    cast[i] = f"{name} {heights[i]}"

print(cast)

['Barney Stinson 72', 'Robin Scherbatsky 68', 'Ted Mosby 72', 'Lily Aldrin 66', 'Marshall Eriksen 76']