Task 1

In [ ]:
# write your function here
def population_density(population, land_area):
    if land_area >= 0:
        density = population / land_area
        return density
    else:
      raise ValueError("Land area must be greater than 0")
# test cases for your function
test1 = population_density(10, 1)
expected_result1 = 10
print("expected result: {}, actual result:{}".format(expected_result1, test1))
test2 = population_density(864816, 121.4)
expected_result2 = 7123.6902801
print("expected result: {}, actual result: {}".format(expected_result2, test2))

expected result: 10, actual result:10.0
expected result: 7123.6902801, actual result: 7123.690280065897

Task 2

In [ ]:
def readable_timedelta(days):
    weeks = days // 7
    remaining_days = days % 7
    return "{} week(s) and {} day(s)".format(weeks, remaining_days)

print(readable_timedelta(10))

1 week(s) and 3 day(s)

Task 3

In [ ]:
numbers = [[34, 63, 88, 71, 29],[90, 78, 51, 27, 45],[63, 37, 85, 46, 22],[51, 22, 34, 11, 18]]
def mean(num_list):
  return sum(num_list) / len(num_list)
averages = list(map(mean, numbers))
print(averages)

[57.0, 58.2, 50.6, 27.2]

Task 4

In [ ]:
cities = ["New York City", "Los Angeles", "Chicago", "Mountain View", "Denver", "Boston"]
def is_short(name):
  return len(name) < 10
short_cities = list(filter(is_short, cities))
print(short_cities)

['Chicago', 'Denver', 'Boston']

Task 5

In [ ]:
names_input = input("Enter a list of student names separated by commas: who haven't submitted assignment")
names = names_input.split(',')

assignments_input = input("Enter a list of the number of missing assignments separated by commas: ")
assignments = list(map(int, assignments_input.split(',')))

grades_input = input("Enter a list of grades separated by commas: ")
grades = list(map(float, grades_input.split(',')))

message_template = "Hi {},\n\nThis is a reminder that you have {} assignments left to submit before you can graduate. Your current grade is {} and can increase to {} if you submit all assignments before the due date.\n\n"

for name, missing_assignments, grade in zip(names, assignments, grades):
    potential_grade = grade + 2 * missing_assignments
    print(message_template.format(name, missing_assignments, grade, potential_grade))

Enter a list of student names separated by commas: who haven't submitted assignmentGhansham,soomarani,agha
Enter a list of the number of missing assignments separated by commas: 1,2,3
Enter a list of grades separated by commas: 95,91,81
Hi Ghansham,

This is a reminder that you have 1 assignments left to submit before you can graduate. Your current grade is 95.0 and can increase to 97.0 if you submit all assignments before the due date.


Hi soomarani,

This is a reminder that you have 2 assignments left to submit before you can graduate. Your current grade is 91.0 and can increase to 95.0 if you submit all assignments before the due date.


Hi agha,

This is a reminder that you have 3 assignments left to submit before you can graduate. Your current grade is 81.0 and can increase to 87.0 if you submit all assignments before the due date.

Task 6

In [ ]:
from google.colab import drive
drive.mount('/content/drive')
file_path = '/content/drive/My Drive/camelot.txt'
file_content = "We're the knights of the round table\nWe dance whenever we're able"
with open(file_path, 'w') as file:
    file.write(file_content)

print("Text file created successfully!")
with open("/content/sample_data/camelot.txt") as song:
  print(song.read(2))
  print(song.read(8))
  print(song.read())

camelot_lines = []
with open("/content/sample_data/camelot.txt") as f:
  for line in f:
    camelot_lines.append(line.strip())
print(camelot_lines)

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
Text file created successfully!
We
're the
knights of the round table
We dance whenever we're able
["We're the knights of the round table", "We dance whenever we're able"]

Task 7

In [ ]:
def create_cast_list(filename):
    cast_list = []
    # use with to open the file filename
    with open(filename) as f:
        # use the for loop syntax to process each line
        for line in f:
            # split the line by commas and add the actor name to cast_list
            cast_list.extend(line.strip().split(','))

    return cast_list

cast_list = create_cast_list('/content/sample_data/flying_circus_cast.txt')
for actor in cast_list:
    print(actor)

Ghansham
 he one of the best actor
Agha
he is co-actor
Aashir
 he is genious